name: Deploy backend
on: 
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 #
        with:
          heroku_api_key: "5171e8cd-7d91-41e8-a73f-f2904306eba8"
          heroku_app_name: "pawtrello"
          heroku_email: "ukasz.klimkiewicz@gmail.com"
          appdir: "back"
